<div class="container">
<!--nav component-->
<app-header></app-header>
<header>
    <div class="description">
      <h1>Join The Community.</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus consectetur tellus at ex rutrum aliquam. In venenatis molestie odio ut laoreet.</p>
      <button class="free-trial">Start Free Trial &nbsp; <i class="fas fa-arrow-circle-right"></i></button>
    </div>
  
    <img class="landing-img" src="./assets/247392-P3U4XW-731.png" />
    
</header>

<main>
  <div class="blocks-container">
      <div class="block">
        <img src="./assets/laptop.png" alt="laptop">
        <p class="title">Grow Yourself.</p>
        <p>Cras in nisi neque. Nullam eleifend magna arcu. Phasellus eu nisi arcu. Duis velit diam, varius vel egestas eget, semper vel risus. Aliquam erat volutpat. Maecenas vel leo magna.</p>
      </div>
    
    <div class="block">
        <img src="./assets/books.png" alt="books">
        <p class="title">Share With Us.</p>  
        <p>Cras in nisi neque. Nullam eleifend magna arcu. Phasellus eu nisi arcu. Duis velit diam, varius vel egestas eget, semper vel risus. Aliquam erat volutpat. Maecenas vel leo magna.</p>
      </div>
    
    <div class="block">
        <img src="./assets/girl.png" alt="girl">
        <p class="title">By Yourself.</p>
        <p>Cras in nisi neque. Nullam eleifend magna arcu. Phasellus eu nisi arcu. Duis velit diam, varius vel egestas eget, semper vel risus. Aliquam erat volutpat. Maecenas vel leo magna.</p>
    </div>
  </div>

  <div class="multisections">
  <div class="left-multisection">
    <img class="a" src="./assets/phone.png"  alt="phone" />
    <div class="b">
      <p class="multisection-title">Suspendisse suscipit</p>
      <p>Suspendisse suscipit erat a leo volutpat facilisis. Morbi at venenatis tortor. Ut ut augue pellentesque, tristique eros vel, semper libero.</p></div>

  </div>

  <div class="right-multisection">
    <img class="c" src="./assets/cup.png"  alt="cup" />   
    <div class="d">
        <p class="multisection-title">Aliquam bibendum</p>
        <p>Aliquam bibendum finibus lacus, quis lobortis lorem maximus a. Vivamus consectetur ex eget dui facilisis, id venenatis odio gravida. Sed orci mi, ornare a sem non.</p></div>
      
  </div>
</div>
  <button class="free-trial-big">Start Free Trial &nbsp; <i class="fas fa-arrow-circle-right"></i></button>


<div>
  <form>
    <div>
      <label>Newsletter</label>
      <input type="email" name="email" placeholder="email@email.com"/>
    </div>
    <input type="submit" value="Join" />
  </form>
</div>


 <div class="social">
   <p>Our social media</p>
    <a href="#"><i class="fab fa-facebook-f"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-google-plus-g"></i></a>
    <p>&copy;aldocaava</p>
 </div> 

</main>
</div>
